<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul class="list-group list-group-horizontal">
  <!--
  <li *ngFor="let user of users">
      {{user.username}} ({{user.firstName}} {{user.lastName}})
      - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
  </li>
  -->
  <li class="list-group-item">
    <a  class="btn btn-info" [routerLink]="['/file-verification']">Add Reference Database</a>
  </li>
  <li class="list-group-item">
    <a  class="btn btn-info" [routerLink]="['/file-verification']">Verify Input File</a>
  </li>
  <li class="list-group-item">
    <a  class="btn btn-info" [routerLink]="['/file-verification']">History</a>
  </li>
  <li class="list-group-item">
    <a  class="btn btn-info" [routerLink]="['/file-verification']">Logout</a>
  </li>
</ul>
